[submodule "diligence"]
	path = ios/diligence
	url = https://github.com/inseven/diligence.git
	branch = main
[submodule "LuaSwift"]
	path = dependencies/LuaSwift
	url = https://github.com/tomsci/LuaSwift.git
