:root {
    --tint-color: #57C2C0;
    --primary-foreground-color: #000;
    --secondary-foreground-color: #000;
    --background-color: #ffffff;
    --navigation-background: rgba(255, 255, 255, 0.7);
    --icon-border-color: rgba(0, 0, 0, 0.2);
    --icon-size: 192px;
    --navigation-padding: 1em;
    --content-width: 800px;
    --content-padding: 2em;
    --details-width: 600px;
    --vertical-spacing: 20px;
    --line-height: 1.7em;
    --h1-size: 3em;
    --h2-size: 1.5em;
}

@media (prefers-color-scheme: dark) {

    :root {
        --primary-foreground-color: #ffffff;
        --secondary-foreground-color: gray;
        --background-color: #181818;
        --navigation-background: rgba(24, 24, 24, 0.7);
        --primary-action-background-color: #0a84ff;

        --primary-highlight-color: #22221a;
        --secondary-highlight-color: #3c3a1f;
    }

}

@media only screen and (max-width: 600px) {

    :root {
        --navigation-padding: 0.4em;
        --content-padding: 16px;
        --vertical-spacing: 10px;
        --h1-size: 2.6em;
        --h2-size: 1.2em;
    }

}

@media only screen and (max-width: 320px) {

    :root {
        --content-padding: 10px;
        --vertical-spacing: 6px;
        --h1-size: 2em;
    }

}

body {
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    color: var(--primary-foreground-color);
    line-height: var(--line-height);
    background-color: var(--background-color);
}

a {
    font-weight: 400;
    text-decoration: underline;
    color: var(--primary-foreground-color);
}

a:hover {
    color: var(--tint-color);
}

hr {
    border: 0;
    border-bottom: 0.5px solid var(--primary-foreground-color);
}

p.center {
    text-align: center;
}

ul.navigation a,
footer a {
    text-decoration: none;
}

ul.navigation {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: var(--navigation-padding);
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    background: var(--navigation-background);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media only screen and (max-width: 600px) {

    ul.navigation {
        text-align: center;
    }

}

ul.navigation > li {
    display: inline-block;
    padding: 0.4em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background: #eee;
}

th, td {
    padding: 0.4em;
    vertical-align: top;
}

.content {
    max-width: var(--content-width);
    padding: 0 var(--content-padding);
    margin: auto;
    margin-bottom: 6em;
}

.details {
    max-width: var(--details-width);
    margin: auto;
    text-align: center;
}

.app-store-link {
    max-width: var(--details-width);
    margin: 2em auto;
    text-align: center;
}

.banner {
    text-align: center;
    margin-bottom: 2em;
}

.hero {
    max-width: 800px;
}

.tagline {
    font-size: 1.3em;
}

footer {
    max-width: var(--content-width);
    margin: auto;
    padding: 2em;
    font-size: 0.8em;
    text-align: center;
}

footer p {
    color: var(--secondary-foreground-color);
    margin: 0;
}

footer a {
    color: var(--secondary-foreground-color);
    text-decoration: underline;
    font-weight: 200;
}

footer a:hover {
    color: var(--tint-color);
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 0.4em;
}

.copyright {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: var(--h1-size);
    font-weight: 100;
    line-height: var(--line-height);
    margin-bottom: var(--vertical-spacing);
}

h2 {
    text-align: left;
    font-size: var(--h2-size);
    font-weight: 200;
    line-height: var(--line-height);
    margin-bottom: var(--vertical-spacing);
}

img {
    max-width: 100%;
}

.caption {
    text-align: center;
}

.icon {
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    display: inline-block;
}

.icon img {
    width: var(--icon-size);
    height: var(--icon-size);
}

#carousel img {
    transition: opacity 2s ease-in-out;
    opacity: 0;
}

#carousel img.show {
    opacity: 1;
}

img.inline-screenshot {
    border: 1px solid var(--icon-border-color);
}

img.program-screenshot {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.screenshot-iphone-13-pro-landscape {
    margin-bottom: var(--vertical-spacing);
    position: relative;
    line-height: 0;
    padding-bottom: 51.8518518519%;
}

.screenshot-iphone-13-pro-landscape::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 51.8518518519%;
    z-index: 10;
    content: "";
    display: block;
    background-image: url('/images/bezel-landscape-min.png');
    background-size: 100% 100%;
}

.screenshot-iphone-13-pro-landscape img {
    position: absolute;
    width: 93.77777778%;
    left: 3.1111111111%;
    top: 8.2142857143%;
    box-sizing: border-box;
}

.screenshot-ipad-pro-11-landscape {
    margin-bottom: var(--vertical-spacing);
    position: relative;
    line-height: 0;
    padding-bottom: 72.4137931034%;
}

.screenshot-ipad-pro-11-landscape::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 72.4137931034%;
    z-index: 10;
    content: "";
    display: block;
    background-image: url('/images/bezel-ipad-pro-11-landscape-min.png');
    background-size: 100% 100%;
}

.screenshot-ipad-pro-11-landscape img {
    position: absolute;
    width: 91.49425287%;
    left: 4.252873565%;
    top: 5.873015873%;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

    .screenshot-iphone-13-pro-landscape {
        padding-bottom: 46.20853081%;
    }

    .screenshot-ipad-pro-11-landscape {
        padding-bottom: 69.84924623%;
    }

    .screenshot-iphone-13-pro-landscape::after,
    .screenshot-ipad-pro-11-landscape::after {
        background: 0;
    }

    .screenshot-iphone-13-pro-landscape img,
    .screenshot-ipad-pro-11-landscape img {
        width: 100%;
        border: 1px solid var(--icon-border-color);
        top: 0;
        left: 0;
    }

}
