name: build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  schedule:
    - cron:  '0 9 * * *'
  workflow_dispatch:

jobs:

  package-build:

    runs-on: inseven-macos-26
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Build and test
      run: scripts/build-package.sh

  app-build:

    runs-on: inseven-macos-26

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Test Lua
      run: scripts/test.sh

    - name: Build, test, and release
      env:

        APPLE_DISTRIBUTION_CERTIFICATE_BASE64: ${{ secrets.PERSONAL_APPLE_DISTRIBUTION_CERTIFICATE_BASE64 }}
        APPLE_DISTRIBUTION_CERTIFICATE_PASSWORD: ${{ secrets.PERSONAL_APPLE_DISTRIBUTION_CERTIFICATE_PASSWORD }}
        MACOS_DEVELOPER_INSTALLER_CERTIFICATE_BASE64: ${{ secrets.PERSONAL_MACOS_DEVELOPER_INSTALLER_CERTIFICATE_BASE64 }}
        MACOS_DEVELOPER_INSTALLER_CERTIFICATE_PASSWORD: ${{ secrets.PERSONAL_MACOS_DEVELOPER_INSTALLER_CERTIFICATE_PASSWORD }}

        APPLE_API_KEY_BASE64: ${{ secrets.PERSONAL_APPLE_API_KEY_BASE64 }}
        APPLE_API_KEY_ISSUER_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ISSUER_ID }}
        APPLE_API_KEY_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ID }}

        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        RELEASE: ${{ github.ref == 'refs/heads/main' }}

      run: |
        scripts/build.sh

  qt-windows-build:
    runs-on: windows-latest
    env:
      # TODO: Use these.
      QT_VERSION: 6.8.3
      QT_MODULES: qtmultimedia qt5compat

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v4
      with:
        path: qt-install
        key: qt-${{ runner.os }}-${{ hashFiles('scripts/install-qt.sh') }}

    - name: Install Qt
      if: steps.cache-qt.outputs.cache-hit != 'true'
      shell: bash
      run: scripts/install-qt.sh

    - name: Build
      shell: bash
      run: |
        set -e
        export PATH="${{ github.workspace }}/qt-install/bin:$PATH"
        mkdir -p qt/build
        cd qt/build
        qmake ..
        make


    # - name: Build Qt Static
    #   if: steps.cache-qt.outputs.cache-hit != 'true'
    #   shell: bash
    #   run: |
    #     set -e
#
    #     git clone --branch v${{ env.QT_VERSION }} --depth 1 https://code.qt.io/qt/qt5.git qt-source
#
    #     cd qt-source
    #     perl init-repository --module-subset=qtbase,qtmultimedia,qt5compat
#
    #     mkdir ../qt-build
    #     cd ../qt-build
#
    #     ../qt-source/configure.bat -prefix "$GITHUB_WORKSPACE/qt-static" \
    #       -static -static-runtime -release -optimize-size \
    #       -opensource -confirm-license \
    #       -nomake examples -nomake tests \
    #       -no-opengl -no-icu \
    #       -skip qtwebengine
#
    #     cmake --build . --parallel
    #     cmake --install .


  qt-build:
    strategy:
      matrix:
        include:
        - os: macos-latest
          script: build-qt-mac.sh
        # - os: ubuntu-latest
        #   script: built-qt-linux.sh

    runs-on: ${{ matrix.os }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install the tool dependencies
      uses: jdx/mise-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        modules: 'qtmultimedia qt5compat'

    - name: Test Lua
      run: scripts/test.sh

    - name: Build, test, and release
      env:
        DEVELOPER_ID_APPLICATION_CERTIFICATE_BASE64: ${{ secrets.PERSONAL_DEVELOPER_ID_APPLICATION_CERTIFICATE_BASE64 }}
        DEVELOPER_ID_APPLICATION_CERTIFICATE_PASSWORD: ${{ secrets.PERSONAL_DEVELOPER_ID_APPLICATION_CERTIFICATE_PASSWORD }}

        APPLE_API_KEY_BASE64: ${{ secrets.PERSONAL_APPLE_API_KEY_BASE64 }}
        APPLE_API_KEY_ISSUER_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ISSUER_ID }}
        APPLE_API_KEY_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ID }}

      run: |
        scripts/${{ matrix.script }}

    - name: Archive the binary
      uses: actions/upload-artifact@v4
      with:
        name: opolua-qt-${{ matrix.os }}
        path: qt/build/build.zip
        if-no-files-found: error

  website-build:

      needs:
        - app-build
        - qt-build

      runs-on: ubuntu-latest

      steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout required submodules
        run: |
          git submodule update --init --depth 1 scripts/build-tools
          git submodule update --init --depth 1 scripts/changes

      - name: Install the tool dependencies
        uses: jdx/mise-action@v2

      - name: Install dependencies
        run: scripts/install-dependencies.sh

      - name: Build website
        run: |
          scripts/build-website.sh
          chmod -v -R +rX "_site/"

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3

  website-deploy:

    needs: website-build
    if: ${{ github.ref == 'refs/heads/main' }}

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
