name: build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  schedule:
    - cron:  '0 9 * * *'
  workflow_dispatch:

jobs:

  app-build:

    runs-on: inseven-macos-26

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Test Lua
      run: scripts/test.sh

    - name: Build, test, and release
      env:

        APPLE_DISTRIBUTION_CERTIFICATE_BASE64: ${{ secrets.PERSONAL_APPLE_DISTRIBUTION_CERTIFICATE_BASE64 }}
        APPLE_DISTRIBUTION_CERTIFICATE_PASSWORD: ${{ secrets.PERSONAL_APPLE_DISTRIBUTION_CERTIFICATE_PASSWORD }}
        MACOS_DEVELOPER_INSTALLER_CERTIFICATE_BASE64: ${{ secrets.PERSONAL_MACOS_DEVELOPER_INSTALLER_CERTIFICATE_BASE64 }}
        MACOS_DEVELOPER_INSTALLER_CERTIFICATE_PASSWORD: ${{ secrets.PERSONAL_MACOS_DEVELOPER_INSTALLER_CERTIFICATE_PASSWORD }}

        APPLE_API_KEY_BASE64: ${{ secrets.PERSONAL_APPLE_API_KEY_BASE64 }}
        APPLE_API_KEY_ISSUER_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ISSUER_ID }}
        APPLE_API_KEY_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ID }}

        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        RELEASE: ${{ github.ref == 'refs/heads/main' }}

      run: |
        scripts/build.sh

  qt-build:

    runs-on: macos-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install the tool dependencies
      uses: jdx/mise-action@v2
      with:
        install: false

    - name: Install dependencies
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Set a GitHub token to bump our rate limits fetching using Mise.
      run: scripts/install-dependencies.sh

    - name: Install Qt
      uses: jurplel/install-qt-action@v4

    - name: Test Lua
      run: scripts/test.sh

    - name: Build, test, and release
      run: |
        scripts/build-qt.sh

  website-build:

      needs:
        - app-build
        - qt-build

      runs-on: ubuntu-latest

      steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout required submodules
        run: |
          git submodule update --init --depth 1 scripts/build-tools
          git submodule update --init --depth 1 scripts/changes

      - name: Install the tool dependencies
        uses: jdx/mise-action@v2

      - name: Install dependencies
        run: scripts/install-dependencies.sh

      - name: Build website
        run: |
          scripts/build-website.sh
          chmod -v -R +rX "_site/"

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3

  website-deploy:

    needs: website-build
    if: ${{ github.ref == 'refs/heads/main' }}

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
