name: build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  schedule:
    - cron:  '0 9 * * *'
  workflow_dispatch:

jobs:

  generate-version-number:
    runs-on: ubuntu-latest

    outputs:
      version_number: ${{ steps.version.outputs.version_number }}
      build_number: ${{ steps.version.outputs.build_number }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Checkout required submodules
      run: |
        git submodule update --init --depth 1 scripts/build-tools
        git submodule update --init --depth 1 scripts/changes

    - name: Install the tool dependencies
      uses: jdx/mise-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Generate version and build numbers
      id: version
      run: |
        source scripts/environment.sh
        VERSION_NUMBER=`scripts/changes/changes version`
        BUILD_NUMBER=`build-tools generate-build-number`
        echo "version_number=$VERSION_NUMBER" >> $GITHUB_OUTPUT
        echo "build_number=$BUILD_NUMBER" >> $GITHUB_OUTPUT

  package-build:
    runs-on: inseven-macos-26

    needs:
    - generate-version-number

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Build and test
      run: scripts/build-package.sh

  ios-build:
    runs-on: inseven-macos-26

    needs:
    - generate-version-number

    env:
      VERSION_NUMBER: ${{ needs.generate-version-number.outputs.version_number }}
      BUILD_NUMBER: ${{ needs.generate-version-number.outputs.build_number }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Test Lua
      run: scripts/test.sh

    - name: Build, test, and release
      env:

        APPLE_DISTRIBUTION_CERTIFICATE_BASE64: ${{ secrets.PERSONAL_APPLE_DISTRIBUTION_CERTIFICATE_BASE64 }}
        APPLE_DISTRIBUTION_CERTIFICATE_PASSWORD: ${{ secrets.PERSONAL_APPLE_DISTRIBUTION_CERTIFICATE_PASSWORD }}
        MACOS_DEVELOPER_INSTALLER_CERTIFICATE_BASE64: ${{ secrets.PERSONAL_MACOS_DEVELOPER_INSTALLER_CERTIFICATE_BASE64 }}
        MACOS_DEVELOPER_INSTALLER_CERTIFICATE_PASSWORD: ${{ secrets.PERSONAL_MACOS_DEVELOPER_INSTALLER_CERTIFICATE_PASSWORD }}

        APPLE_API_KEY_BASE64: ${{ secrets.PERSONAL_APPLE_API_KEY_BASE64 }}
        APPLE_API_KEY_ISSUER_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ISSUER_ID }}
        APPLE_API_KEY_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ID }}

        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        RELEASE: ${{ github.ref == 'refs/heads/main' }}

      run: |
        scripts/build.sh

  qt-windows-build:
    runs-on: windows-latest

    needs:
    - generate-version-number

    env:
      VERSION_NUMBER: ${{ needs.generate-version-number.outputs.version_number }}
      BUILD_NUMBER: ${{ needs.generate-version-number.outputs.build_number }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v4
      with:
        path: qt-install
        key: qt-${{ runner.os }}-${{ hashFiles('scripts/install-qt.sh') }}

    - name: Install Qt
      if: steps.cache-qt.outputs.cache-hit != 'true'
      shell: bash
      run: scripts/install-qt.sh

    - name: Build
      shell: bash
      run: scripts/build-qt-windows.sh

    - name: Archive the binary
      uses: actions/upload-artifact@v4
      with:
        name: opolua-qt-windows
        path: qt/build/build.zip
        if-no-files-found: error

  qt-macos-build:
    runs-on: macos-latest

    needs:
    - generate-version-number

    env:
      VERSION_NUMBER: ${{ needs.generate-version-number.outputs.version_number }}
      BUILD_NUMBER: ${{ needs.generate-version-number.outputs.build_number }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install the tool dependencies
      uses: jdx/mise-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        modules: 'qtmultimedia qt5compat'

    - name: Test Lua
      run: scripts/test.sh

    - name: Build, test, and release
      env:
        DEVELOPER_ID_APPLICATION_CERTIFICATE_BASE64: ${{ secrets.PERSONAL_DEVELOPER_ID_APPLICATION_CERTIFICATE_BASE64 }}
        DEVELOPER_ID_APPLICATION_CERTIFICATE_PASSWORD: ${{ secrets.PERSONAL_DEVELOPER_ID_APPLICATION_CERTIFICATE_PASSWORD }}

        APPLE_API_KEY_BASE64: ${{ secrets.PERSONAL_APPLE_API_KEY_BASE64 }}
        APPLE_API_KEY_ISSUER_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ISSUER_ID }}
        APPLE_API_KEY_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ID }}

      run: |
        scripts/build-qt-mac.sh

    - name: Archive the binary
      uses: actions/upload-artifact@v4
      with:
        name: opolua-qt-macos
        path: qt/build/build.zip
        if-no-files-found: error

  merge-artifacts:
    runs-on: ubuntu-latest

    needs:
    - generate-version-number
    - ios-build
    - qt-macos-build
    - qt-windows-build
    - package-build

    env:
      VERSION_NUMBER: ${{ needs.generate-version-number.outputs.version_number }}
      BUILD_NUMBER: ${{ needs.generate-version-number.outputs.build_number }}

    steps:

    - uses: actions/download-artifact@v4
      with:
        pattern: "opolua-*"
        path: artifacts

    - name: Repackage
      run: |
        find .
        mkdir -p build
        mv artifacts/opolua-qt-macos/build.zip build/OpoLua-Qt-macOS-$VERSION_NUMBER-$BUILD_NUMBER.zip
        mv artifacts/opolua-qt-windows/build.zip build/OpoLua-Qt-Windows-$VERSION_NUMBER-$BUILD_NUMBER.zip

    - name: Archive the binaries
      uses: actions/upload-artifact@v4
      with:
        name: opolua-qt
        path: build/*
        if-no-files-found: error

  website-build:
      runs-on: ubuntu-latest

      needs:
      - generate-version-number
      - merge-artifacts

      env:
        VERSION_NUMBER: ${{ needs.generate-version-number.outputs.version_number }}
        BUILD_NUMBER: ${{ needs.generate-version-number.outputs.build_number }}

      steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout required submodules
        run: |
          git submodule update --init --depth 1 scripts/build-tools
          git submodule update --init --depth 1 scripts/changes

      - name: Install the tool dependencies
        uses: jdx/mise-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: scripts/install-dependencies.sh

      - name: Build website
        run: |
          scripts/build-website.sh
          chmod -v -R +rX "_site/"

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3

  website-deploy:

    needs: website-build
    if: ${{ github.ref == 'refs/heads/main' }}

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
